# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Build
dist/
build/

# Env (секреты не коммитить)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Debug & logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
